<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<!-- <div class="clustrmaps" style="width:90px;overflow:hidden;margin:0 auto;padding:0 15px;"> -->
  <!-- <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=EySfY5pv-ILXNDlSRIv3a5IR3DGWFDWuxU60aFDBIVQ&cl=ffffff&w=a"></script> -->
  <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=frWQdhUg8WOq7qBHJCZo4qiVPJQaS_6W5swIuB-FBoc"></script> -->
<a href='https://clustrmaps.com/site/1byrf'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=245&t=tt&d=frWQdhUg8WOq7qBHJCZo4qiVPJQaS_6W5swIuB-FBoc'/></a>
<!-- </div> -->
<!-- end custom footer snippets -->